<div class="container">

  <div class="row">
    <div class="col-3 my-3" style="background-color: #585050;">
      <h3 style="color: lightgrey;">1970</h3>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-7">
      <p>
        "SpaceY" - международная компания, специализирующаяся на организации и осуществлении перевозок грузов и
        пассажиров в глубоком космосе. Компания была создана в 1970 году и с тех пор стала одним из лидеров в этой
        области.
      </p>
      Корпорация обладает большим опытом в области космических перевозок и использует передовые технологии для
      обеспечения безопасности и эффективности транспортных путей.
      <p>
        "SpaceY" имеет свои собственные космические корабли и станции, которые позволяют ей осуществлять перевозки
        грузов и пассажиров на различные планеты и астероиды. Также предоставляются услуги по доставке грузов на Землю
        из глубокого космоса, что позволяет партнерам получать доступ к новым рынкам и технологиям.
      </p>
      <p>
        "SpaceY" активно участвует в научных исследованиях и разработках в области космических технологий. Компания
        сотрудничает с научными центрами и университетами, предоставляя им доступ к своим космическим кораблям и
        станциям для проведения исследований.
      </p>
      <p>
        В целом, корпорация "SpaceY" является важной частью космической индустрии и играет ключевую роль в развитии
        космических исследований и технологий.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
    </div>
    <div class="col-2">
      <h1 style="color: lightgrey;">2023...</h1>
    </div>
    <div class="col-2" style="background-color: #a19d9d;">
      <h1 style="color: lightgrey;"></h1>
    </div>
  </div>

  <div class="row" >
  </div>
  <div class="row" >
    <div class="col-1">
    </div>
    <div class="col-4 my-5">
      <p style="color: lightgrey; background-color: #dbdada;">..</p>
    </div>

  </div>
</div>
